.headerPrincipal{
    background-color: #FAF8F1;
    font-size: 1rem;
    border-bottom: 4px solid #E5BA73;
}


.header-link{
    color: #8b8b8b;
}

.header-link:hover{
    color: #E5BA73;
    font-size: 1.07rem;
}

@media (min-width: 992px) {   

    .logoNavBar{
        width: 10%;
    }
    .logoParroquia{
        width: 35%;
    }
}

@media (max-width: 576px) { 
    
    .logoParroquia{
        width: 100%;
    }
    .logoNavBar{
        width: 30%;
    }
}

@media (min-width: 576px) and (max-width: 992px) {   

    .logoParroquia{
        width: 45%;
    }
    .logoNavBar{
        width: 15%;
    }
}